class {
    onMount() {
        console.log("fired onMount");
    }
}

section class="section"
    div class="container"
        h1 class="title" -- Help
        p class="subtitle" -- Help page
        router-link path='/' -- wow

