# Envrionment variables
.env
.env.*
!.env.sample

# Dependency directories
node_modules

# Transpiled js
dist

# Static assets
static

# Generated
build

# Marko compiled files
**/*.marko.js

# distrubtion build files
out

# Generated CSS
src/renderer/css/*

# Private secrets
config/*.ts

# .cache directories
**/*.cache

# CSV files
**/*.csv

#ide
.idea

# using yarn for now
package-lock.json
