class {
    onMount() {
        console.log("fired onMount");
    }
}

section class="section" id="root"
    div class="container"
        h1 class="title" -- Hello World Wassup stragn
        p class="subtitle"
            -- My first website with <strong>Bulma</strong>!
