static {
    const app = window.require("electron").remote.app;
}

class {
    onMount() {
        console.log("fired onMount");
    }

    testerino() {
        console.log(`app: ${app.testFunc()}`);
    }
}

section class="section"
    div class="container"
        h1 class="title" -- Home
        p class="subtitle" -- Home page!
        router-link path='/help' -- Wooooow
        a class="button is-primary is-large" on-click("testerino") -- Electron test

