class {
    onMount() {
        console.log("fired onMount");
    }
}

section class="section"
    div class="container"
        h1 class="title" -- Home
        p class="subtitle" -- Home page!
        router-link path='/help' -- Wooooow

