<!DOCTYPE html>

html
    head
        // Required meta tags
        meta charset="utf-8"
        meta name="viewport" content="width=device-width, initial-scale=1"
        // Bulma - compiled at runtime
        link rel="stylesheet" href="./css/bulma.css"
        // Font-awesome
        script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"

        // Bundled CSS Injected Here
        lasso-head

    body

        // Top level component
        app-root

        // Bundled JS Injected Here
        lasso-body
